<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="popper.js/dist/umd/popper.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
</head>
<body style="display: grid;place-content: center;background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);">
<h2 style="text-align: center;">Admin Portal</h2>
<h4 style="color:red;opacity:1;text-align: center;" id="oll"></h4>
<div class="dropdown-menu" style="display:block;position:initial;">
  <form class="px-4 py-3" onsubmit="din()" action="#"> 
    <div class="form-group">
      <label for="exampleDropdownFormEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <button type="button" onclick="subm()" class="btn btn-primary">Sign in</button>
  </form>
</div>
</body>
<script>

function subm(){
var xhr = new XMLHttpRequest();
xhr.open("POST", "main_admin_login", false);
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.onreadystatechange = function() {
      if(this.responseText=="correct")
		window.location='/admin_portal';
	  else{
		document.getElementById('exampleDropdownFormEmail1').value="";
		document.getElementById('exampleDropdownFormPassword1').value="";
		//document.getElementById("psub").innerHTML="";
		document.getElementById('oll').innerHTML=this.responseText;
		document.getElementById('oll').style.opacity=1;
	  }
  };
  
xhr.send(JSON.stringify({userid: document.getElementById('exampleDropdownFormEmail1').value, password: document.getElementById('exampleDropdownFormPassword1').value}));
}
</script>
</html>