.custom-control-label::before, .custom-file-label, .custom-select{
	background-color: #007bff;
}
#my-camera
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
#peer-camera
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
#notifications {
    cursor: pointer;
    position: fixed;
    top: 0px;
    z-index: 9999;
    margin-bottom: 22px;
    margin-right: 15px;
    //max-width: 300px;   
}
#container{
	height:100%;
	width:auto;
	white-space:nowrap;
	overflow:hidden;
	position:relative;
	}
#editor{
	flex: 0 0 auto;
	height: 80vh;
	min-height: 20vh;
	max-height: 80vh;
	width: 100%;
	//overflow:auto;
	//resize:vertical;
	//display: inline-block;
	}
#output{
	flex: 1 1 auto;
	width: 100%;
	height: 10vh;
	min-height: 10vh;
	max-height: 70vh;
	resize: none;
	background: #272822;
    color: red;
	border: none;
	}
#input{
	height: 30%;
	min-height: 30vh;
	resize: none;
	}
.MyCursorClass {
    position: absolute;
    border-left: solid gold;
}
.MyCursorClass1 {
    position: absolute;
    border-left: solid blue;
}
.splitter-horizontal {
  flex: 0 0 auto;
  height: 18px;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
  cursor: row-resize;
}
  .chat-main{
	position: fixed;
	width: 260px;
	bottom: 0;
	right: 0px;
}
.header-one{
	background: #404040;
}
.name h6{
	display: inline-block;
	font-size: 14px;
}
.options i,.options .arrow-up{
	height: 25px;
	width: 25px;
}
.options i{
	color: #B2B2B2;
	font-size: 16px;
	cursor: pointer;
}
.options .hover:hover, .options .arrow-up:hover{
	background: #737373;
}
.options .arrow-up{
    display: inline-block;
    line-height: 0;
}
.options .hover:hover, .options .arrow-up:hover .fa-arrow-up{
	color: #fff;
}
.options .fa-arrow-up{
	transform: rotate(40deg);
}
.header-two{
	border-top: 2px solid #35AC19;
	background: #ECEFF1;
	color: #5E6060;
	padding: 8px 0px 4px 8px;
	box-shadow: 0px 6px 13px -7px #c1c1c1;
	z-index: 1000;
    position: absolute;
}
.options-left i, .options-right i{
	cursor: pointer;
}
.options-left i:hover, .options-right i:hover{
	color: #000;
}
.chats{
	height: 285px;
	overflow-x: scroll;
	overflow-x: hidden;
	background: #ECEFF1;
	position: relative;
    //top: 35px;
}
.chats ul li{
	display: inline-block;
	list-style: none;
	clear: both;
	font-size: 13px;
}
.send-msg{
	position: relative;
}
.send-msg:after{
	content: "";
	width:0;
	height:0;
	top: 0px;
	right: -8px;
	position: absolute;
	border-top: 8px solid #CFD8DC;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}
.send-msg p{
	background: #CFD8DC;
}
.sender-img{
	display: inline;
}
.sender-img img{
	width: 32px;
	height: 32px;
	border-radius: 100%;
}
.receive-msg .receive-msg-desc{
	display: inline-block;
	position: relative;
}
.receive-msg-desc:before{
	content: "";
	width:0;
	height:0;
	top: 0px;
	left: -8px;
	position: absolute;
	border-top: 8px solid #fff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}
.receive-msg-time,.send-msg-time{
	color: #7D7E87;
	font-size: 10px;
}
.receive-msg-time i{
	font-size: 4px;
}
.msg-box{
	//margin-top: 35px;
}
.msg-box i{
	color: #404040;
}
.msg-box textarea{
	font-size: 14px;
}
.msg-box textarea:focus{
	outline: none;
}
.splitter {
  flex: 0 0 auto;
  width: 18px;  
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;  
}
.panel-left {
  flex: 0 0 auto;
  min-width:40vw;
  max-width:65vw;
  width:50vw;
  /* only manually resize */
}
.panel-right {
  flex: 1 1 auto;
  /* resizable */
}
#w3mission::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#typing_b {
	visibility:hidden;
}
#mydiv1 {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3
}

#mydiv3 {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3
}

#mydiv1header {
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  text-align-last: left;
  font-weight: lighter;
}

#mydiv3header {
  cursor: move;
  z-index: 10;
  background-color: indianred;
  color: #fff;
  text-align-last: left;
  font-weight: lighter;
}

#mydiv1header1 {
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  text-align-last: left;
  font-weight: lighter;
}

#mydiv2header1 {
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  padding:5px;
}

#mydiv2header {
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#mydiv4header {
  z-index: 10;
  background-color: indianred;
  color: #fff;
}
.resize_op {
  overflow-y: scroll;
  resize: both;
  max-width: 50vw;
  max-height: 50vh;
  border: 1px solid black;
  min-width: 400px;
  min-height: 250px;
}

.preload{
 width: 100%;
 height: 100%;
 background: #333;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;
}
.logo {
 width: 900px;
 height: 70px;
 margin: 150px auto 50px auto;
 font-size: 50px;
 text-shadow: -1px 2px 2px #000;
 text-align: center;
 color: azure;
}
.loader-frame {
 width: 70px;
 height: 70px;
 margin: auto;
 position: relative;
}
.loader1, .loader2 {
 position: absolute;
 border: 5px solid transparent;
 border-radius: 50%;
}
.loader1 {
 width: 70px;
 height: 70px;
 border-top: 5px solid azure;
 border-bottom: 5px solid azure;
 animation: clockwisespin 2s infinite;
}
.loader2 {
 width: 60px;
 height: 60px;
 border-left: 5px solid darkturquoise;
 border-right: 5px solid darkturquoise;
 top: 5px; left: 5px;
 animation: anticlockwisespin 2s infinite;
}


@keyframes clockwisespin {
 from {transform: rotate(0deg);}
 to {transform: rotate(360deg);}
}
@keyframes anticlockwisespin {
 from {transform: rotate(0deg);}
 to {transform: rotate(-360deg);}
}
@keyframes fadeout {
 from {opacity: 1;}
 to {opacity: 0;}
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  position:fixed;
  padding: 5px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.navbar-brand{
  margin-right: 0rem;
}
.pop_rec {
	width: 20px;
	height: 20px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	outline: none;
}

.notRec{
	background-color: darkred;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}